#carrinho {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index:1;
    top: 0;
    right : 0;
    background-color: rgb(213, 249, 255);
    transition: 0.5s;
    padding-top: 60px;

    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #000000;
}
#titulo{
    display: flex;
    justify-content: space-around;
    border-bottom: #000000;
    border-style: solid;
}

#botao-valtar{
    background-color: rgb(213, 249, 255);
    position: fixed;
    top: 4;
    right: 20%;

}