<div class="flex justify-center items-center w-full h-full bg-gray-300">
  <mat-card class="flex flex-col text-lg">
    <form [formGroup]="formLogin">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Digite seu email" formControlName="username">
          <mat-hint>Digite seu email</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-hint>Digite sua senha</mat-hint>
        </mat-form-field>
      </p>

      <p class="mt-8">
        <button
          (click)="login()"
          class="w-full"
          mat-raised-button
          color="primary"
          [disabled]="formLogin.invalid"
        >
          Entrar
        </button>
      </p>
    </form>
  </mat-card>
</div>
