.sidebar {

  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;

}

.navbar{
  /* width: 90%; */

}

.margin{
  margin-left: 1%;
}

.field-wrapper-not-color {
  width: 100%;
}

.iconsNav{
  margin-left: auto;

}

.spaceIcon{
  padding-left: 30%;
}

.colorIcon{
  color: #193264;
}

.btn{
  background-color: #193264;

}

.margin-button{
  margin-top: 50%;
}
