.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

.navbar{
  /* width: 90%; */
  margin-left: 16%;
}

.margin{
  margin-left: 1%;
}

.field-wrapper-not-color {
  width: 100%;
}

.IconsNav{
  margin-left: auto;
  margin-right: 10%;
}

.spaceIcon{
  padding-left: 30%;
}
