<div id="fundo-carrinho" *ngIf="visibilidade" (click)="notify.emit()"></div>

<div id="carrinho" class="cor-de-fundo font-padrao" *ngIf="visibilidade" >
    <button id="botao-fechar" class="cor-de-fundo" (click)="notify.emit()">></button>

    <h1 id="titulo" class="cor-de-fundo font-padrao">Carrinho</h1>
    <div id="itens">
      <div *ngFor="let item of itens">
          <app-itemdocarrinho
            [itemPedido]="item"
            (eventoDecremento)="decrementar(item.produto.id)"
            (eventoIncremento)="incrementar(item.produto.id)"
          ></app-itemdocarrinho>
      </div>
    </div>
    <div id="div-comprar">
      <p>{{"total R$ "+ precoTotal()}}</p>
      <button class="btn">camprar</button>
    </div>
</div>

