#carrinho {
    position: fixed;
    height: 100%;
    width: 20%;
    z-index:10000000;
    right : 0;
    transition: 0.5s;
    padding-top: 60px;

    padding: 8px 8px 8px 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#titulo{
    display: flex;
    justify-content: space-around;
    border-bottom: #000000;
    border-style: solid;
}

#botao-fechar{
    position: fixed;
    top: 4;
    right: 20%;
    font-size: x-large;

}

#fundo-carrinho{
    cursor:  pointer;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index:10400;
    background-color: rgb(0,0,0,.08);


}

.btn{
  background-color: #193264;
  color: white;
  width: 10;
  border-radius: 20%;
}

#div-comprar{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 13%;
    min-width: 10;

}

#itens{
    height: 100%;
    overflow-y: scroll;
}